<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}">
                        Logout
                    </a>
                    {% else %}
                    <a href="{% url 'signup' %}">
                        Sign Up
                    </a>
                    <a href="{% url 'login' %}">
                        Login
                    </a>
                    {% endif %}
                </li>
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'account_list' %}">
                        Accounts
                    </a>
                </li>
                <li>
                    <a href="{% url 'create_account' %}">
                        Create Account
                    </a>
                </li>
                <li>
                    <a href="{% url 'category_list' %}">
                        Categories
                    </a>
                </li>
                <li>
                    <a href="{% url 'create_category' %}">
                        Create Category
                    </a>
                </li>
                <li>
                    <a href="{% url 'create_receipt' %}">
                        Create Receipt
                    </a>
                </li>
                <li>
                    <a href="{% url 'home' %}">
                        Home
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
       {% block content %}
       {% endblock content %}
    </main>

</body>
</html>
