{% extends 'base.html' %}

{% block content %}
<h1>Categories</h1>
<table>
    <thead>
        <th>Name</th>
        <th>Number</th>
        <th>Number of Receipts</th>
    </thead>
    <tbody>
        {% for account in account_list %}
        <tr>
            <td>{{ account.name }}</td>
            <td>{{ account.number }}</td>
            <td>{{ account.items.all|length }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
