{% extends 'base.html' %}

{% block content %}
<h1>My Receipts</h1>
    <table>
        <thead>
            <th>Vendor</th>
            <th>Total</th>
            <th>Tax</th>
            <th>Date</th>
            <th>Category</th>
            <th>Account</th>
        </thead>
        <tbody>
            {% for homy in home %}
            <tr>
                <td>{{homy.vendor}}</td>
                <td>{{homy.total}}</td>
                <td>{{homy.tax}}</td>
                <td>{{homy.date|date:"m/j/y"}}</td>
                <td>{{homy.category.name}}</td>
                <td>{{homy.account.name}}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>

{% endblock content %}
